In [ ]:
!pip3 install raster2xyz

In [5]:
import pandas as pd
import geopandas as gpd
import cdsapi
import xarray as xr
from urllib.request import urlopen
import datetime
import random
import cdsapi
import rasterio
from rasterio import features
from raster2xyz.raster2xyz import Raster2xyz
from shapely.geometry import Point

In [7]:
# Specify the paths to the GeoTIFF files
elevation_file = "data/46250_cartografia_tridimensional/MDT_municipio/MDT_46250.tif"
slope_file = "data/46250_cartografia_tridimensional/pendiente_municipio/pendiente_46250.tif"
orientation_file = "data/46250_cartografia_tridimensional/orientacion_municipio/orientacion_46250.tif"

In [8]:
# Altitud

elevation_csv = "altitud_46250.csv"
rtxyz = Raster2xyz()
rtxyz.translate(elevation_file, elevation_csv)

# Pendiente

slope_csv = "pendiente_46250.csv"
rtxyz = Raster2xyz()
rtxyz.translate(slope_file, slope_csv)

# Orientacion

orientation_csv = "orientacion_46250.csv"
rtxyz = Raster2xyz()
rtxyz.translate(orientation_file, orientation_csv)

[2023-05-19 03:31:25 - INFO] - Getting geotransform and data...
[2023-05-19 03:31:25 - INFO] - Getting XYZ data...
[2023-05-19 03:31:25 - INFO] - Getting geotransformed coordinates...
[2023-05-19 03:31:26 - INFO] - Building XYZ data...
[2023-05-19 03:32:02 - INFO] - New XYZ (csv file) created...
[2023-05-19 03:32:02 - INFO] - Getting geotransform and data...
[2023-05-19 03:32:02 - INFO] - Getting XYZ data...
[2023-05-19 03:32:02 - INFO] - Getting geotransformed coordinates...
[2023-05-19 03:32:02 - INFO] - Building XYZ data...
[2023-05-19 03:32:39 - INFO] - New XYZ (csv file) created...
[2023-05-19 03:32:39 - INFO] - Getting geotransform and data...
[2023-05-19 03:32:39 - INFO] - Getting XYZ data...
[2023-05-19 03:32:39 - INFO] - Getting geotransformed coordinates...
[2023-05-19 03:32:39 - INFO] - Building XYZ data...
[2023-05-19 03:33:15 - INFO] - New XYZ (csv file) created...

In [9]:
elevation_46250_df = pd.read_csv(elevation_csv)
slope_46250_df = pd.read_csv(slope_csv)
orientation_46250_df = pd.read_csv(orientation_csv)

In [10]:
elevation_46250_df['altitud'] = elevation_46250_df['z']
slope_46250_df['pendiente'] = slope_46250_df['z']
orientation_46250_df['orientacion'] = orientation_46250_df['z']

In [11]:
elevation_46250_df.drop('z', axis=1, inplace=True)
slope_46250_df.drop('z', axis=1, inplace=True)
orientation_46250_df.drop('z', axis=1, inplace=True)

In [12]:
raster_46250_df = elevation_46250_df
raster_46250_df['pendiente'] = slope_46250_df['pendiente']
raster_46250_df['orientacion'] = orientation_46250_df['orientacion']

In [13]:
raster_46250_df

                     x             y    altitud  pendiente  orientacion
0         720570.98787  4.383051e+06  89.174750   1.378359    275.82956
1         720575.98787  4.383051e+06  89.207504   0.551836    246.71716
2         720580.98787  4.383051e+06  89.230750   0.567502    240.71945
3         720585.98787  4.383051e+06  89.259510   0.726370    235.51875
4         720590.98787  4.383051e+06  89.273254   0.732560    240.39131
...                ...           ...        ...        ...          ...
18697913  735240.98787  4.351246e+06   0.369000  17.187475    224.62874
18697914  735245.98787  4.351246e+06   1.202750  26.141370    217.88748
18697915  735250.98787  4.351246e+06   2.135000  24.151955    191.34540
18697916  735255.98787  4.351246e+06   1.942750  22.868624    139.16132
18697917  735260.98787  4.351246e+06   0.697555  19.345718    111.41465

[18697918 rows x 5 columns]

In [14]:

# Create a geometry column from x and y coordinates
geometry_46250 = [Point(x, y) for x, y in zip(raster_46250_df['x'], raster_46250_df['y'])]

In [15]:
# Create a GeoDataFrame from the dataframe
geo_46250_df = gpd.GeoDataFrame(raster_46250_df, geometry=geometry_46250)

# Set the coordinate reference system (CRS) if available
geo_46250_df.crs = 'ETRS89'  # Replace with the appropriate CRS code

# Print the GeoDataFrame
print(geo_46250_df.head())

              x             y    altitud  pendiente  orientacion  \
0  720570.98787  4.383051e+06  89.174750   1.378359    275.82956
1  720575.98787  4.383051e+06  89.207504   0.551836    246.71716
2  720580.98787  4.383051e+06  89.230750   0.567502    240.71945
3  720585.98787  4.383051e+06  89.259510   0.726370    235.51875
4  720590.98787  4.383051e+06  89.273254   0.732560    240.39131

                             geometry
0  POINT (720570.98787 4383050.61543)
1  POINT (720575.98787 4383050.61543)
2  POINT (720580.98787 4383050.61543)
3  POINT (720585.98787 4383050.61543)
4  POINT (720590.98787 4383050.61543)

In [16]:
geo_46250_df.drop(['x', 'y'], axis=1, inplace=True)

In [17]:
geo_46250_df

,altitud,pendiente,orientacion,geometry
0,89.174750,1.378359,275.82956,POINT (720570.98787 4383050.61543)
1,89.207504,0.551836,246.71716,POINT (720575.98787 4383050.61543)
2,89.230750,0.567502,240.71945,POINT (720580.98787 4383050.61543)
3,89.259510,0.726370,235.51875,POINT (720585.98787 4383050.61543)
4,89.273254,0.732560,240.39131,POINT (720590.98787 4383050.61543)
...,...,...,...,...
18697913,0.369000,17.187475,224.62874,POINT (735240.98787 4351245.61543)
18697914,1.202750,26.141370,217.88748,POINT (735245.98787 4351245.61543)
18697915,2.135000,24.151955,191.34540,POINT (735250.98787 4351245.61543)
18697916,1.942750,22.868624,139.16132,POINT (735255.98787 4351245.61543)
18697917,0.697555,19.345718,111.41465,POINT (735260.98787 4351245.61543)

In [18]:
geo_46250_df_cleaned = geo_46250_df.loc[geo_46250_df['altitud'] > 0]

In [19]:
geo_46250_sample_df = geo_46250_df_cleaned.sample(100000)

In [20]:
geo_46250_sample_df.to_file('data/geo_46250_df.geojson', driver='GeoJSON')