In [ ]:
!pip3 install raster2xyz

In [1]:
import pandas as pd
import geopandas as gpd
import cdsapi
import xarray as xr
from urllib.request import urlopen
import datetime
import random
import cdsapi
import rasterio
from rasterio import features
from raster2xyz.raster2xyz import Raster2xyz
from shapely.geometry import Point

In [13]:
# Specify the paths to the GeoTIFF files
elevation_file = "data/municipios/cartografia_tridimensional/03102_cartografia_tridimensional/MDT_municipio/MDT_03102.tif"
slope_file = "data/municipios/cartografia_tridimensional/03102_cartografia_tridimensional/pendiente_municipio/pendiente_03102.tif"
orientation_file = "data/municipios/cartografia_tridimensional/03102_cartografia_tridimensional/orientacion_municipio/orientacion_03102.tif"

In [16]:
# Altitud

elevation_csv = "data/municipios/datos_generados/03102/altitud_03102.csv"
rtxyz = Raster2xyz()
rtxyz.translate(elevation_file, elevation_csv)

# Pendiente

slope_csv = "data/municipios/datos_generados/03102/pendiente_03102.csv"
rtxyz = Raster2xyz()
rtxyz.translate(slope_file, slope_csv)

# Orientacion

orientation_csv = "data/municipios/datos_generados/03102/orientacion_03102.csv"
rtxyz = Raster2xyz()
rtxyz.translate(orientation_file, orientation_csv)

[2023-05-19 04:52:36 - INFO] - Getting geotransform and data...
[2023-05-19 04:52:36 - INFO] - Getting XYZ data...
[2023-05-19 04:52:36 - INFO] - Getting geotransformed coordinates...
[2023-05-19 04:52:36 - INFO] - Building XYZ data...
[2023-05-19 04:52:44 - INFO] - New XYZ (csv file) created...
[2023-05-19 04:52:44 - INFO] - Getting geotransform and data...
[2023-05-19 04:52:44 - INFO] - Getting XYZ data...
[2023-05-19 04:52:44 - INFO] - Getting geotransformed coordinates...
[2023-05-19 04:52:44 - INFO] - Building XYZ data...
[2023-05-19 04:52:52 - INFO] - New XYZ (csv file) created...
[2023-05-19 04:52:52 - INFO] - Getting geotransform and data...
[2023-05-19 04:52:52 - INFO] - Getting XYZ data...
[2023-05-19 04:52:52 - INFO] - Getting geotransformed coordinates...
[2023-05-19 04:52:52 - INFO] - Building XYZ data...
[2023-05-19 04:52:59 - INFO] - New XYZ (csv file) created...

In [17]:
elevation_03102_df = pd.read_csv(elevation_csv)
slope_03102_df = pd.read_csv(slope_csv)
orientation_03102_df = pd.read_csv(orientation_csv)

In [18]:
elevation_03102_df['altitud'] = elevation_03102_df['z']
slope_03102_df['pendiente'] = slope_03102_df['z']
orientation_03102_df['orientacion'] = orientation_03102_df['z']

In [19]:
elevation_03102_df.drop('z', axis=1, inplace=True)
slope_03102_df.drop('z', axis=1, inplace=True)
orientation_03102_df.drop('z', axis=1, inplace=True)

In [20]:
raster_03102_df = elevation_03102_df
raster_03102_df['pendiente'] = slope_03102_df['pendiente']
raster_03102_df['orientacion'] = orientation_03102_df['orientacion']

In [21]:
raster_03102_df

                     x             y    altitud  pendiente  orientacion
0        746798.870135  4.308172e+06  425.26700  27.389078    115.62827
1        746803.870135  4.308172e+06  423.99326  30.299067    114.12234
2        746808.870135  4.308172e+06  422.49823  33.705704    111.60547
3        746813.870135  4.308172e+06  420.87625  35.246620    109.49768
4        746818.870135  4.308172e+06  419.19073  37.483860    109.14037
...                ...           ...        ...        ...          ...
3902323  756733.870135  4.298382e+06   90.00375  10.575702     72.93383
3902324  756738.870135  4.298382e+06   89.24925  14.328173     80.29402
3902325  756743.870135  4.298382e+06   88.55600   5.111823     83.11841
3902326  756748.870135  4.298382e+06   88.75925   8.438879    264.53876
3902327  756753.870135  4.298382e+06   89.44200  10.195264    267.13210

[3902328 rows x 5 columns]

In [22]:

# Create a geometry column from x and y coordinates
geometry_03102 = [Point(x, y) for x, y in zip(raster_03102_df['x'], raster_03102_df['y'])]

In [23]:
# Create a GeoDataFrame from the dataframe
geo_03102_df = gpd.GeoDataFrame(raster_03102_df, geometry=geometry_03102)

# Set the coordinate reference system (CRS) if available
geo_03102_df.crs = 'ETRS89'  # Replace with the appropriate CRS code

# Print the GeoDataFrame
print(geo_03102_df.head())

               x             y    altitud  pendiente  orientacion  \
0  746798.870135  4.308172e+06  425.26700  27.389078    115.62827
1  746803.870135  4.308172e+06  423.99326  30.299067    114.12234
2  746808.870135  4.308172e+06  422.49823  33.705704    111.60547
3  746813.870135  4.308172e+06  420.87625  35.246620    109.49768
4  746818.870135  4.308172e+06  419.19073  37.483860    109.14037

                             geometry
0  POINT (746798.87013 4308172.17479)
1  POINT (746803.87013 4308172.17479)
2  POINT (746808.87013 4308172.17479)
3  POINT (746813.87013 4308172.17479)
4  POINT (746818.87013 4308172.17479)

In [24]:
geo_03102_df.drop(['x', 'y'], axis=1, inplace=True)

In [25]:
geo_03102_df

           altitud  pendiente  orientacion                            geometry
0        425.26700  27.389078    115.62827  POINT (746798.87013 4308172.17479)
1        423.99326  30.299067    114.12234  POINT (746803.87013 4308172.17479)
2        422.49823  33.705704    111.60547  POINT (746808.87013 4308172.17479)
3        420.87625  35.246620    109.49768  POINT (746813.87013 4308172.17479)
4        419.19073  37.483860    109.14037  POINT (746818.87013 4308172.17479)
...            ...        ...          ...                                 ...
3902323   90.00375  10.575702     72.93383  POINT (756733.87013 4298382.17479)
3902324   89.24925  14.328173     80.29402  POINT (756738.87013 4298382.17479)
3902325   88.55600   5.111823     83.11841  POINT (756743.87013 4298382.17479)
3902326   88.75925   8.438879    264.53876  POINT (756748.87013 4298382.17479)
3902327   89.44200  10.195264    267.13210  POINT (756753.87013 4298382.17479)

[3902328 rows x 4 columns]

In [26]:
geo_03102_df_cleaned = geo_03102_df.loc[geo_03102_df['altitud'] > 0]

In [27]:
geo_03102_sample_df = geo_03102_df_cleaned.sample(100000)

In [30]:
geo_03102_sample_df.to_file('data/municipios/datos_generados/03102/geo_03102_df.geojson', driver='GeoJSON')