In [1]:
import pandas as pd
import geopandas as gpd
import cdsapi
import xarray as xr
from urllib.request import urlopen
import datetime
import random

In [2]:
c = cdsapi.Client()

In [67]:
points_df = gpd.read_file("data/points_terrain_stats.geojson")
points_df.set_crs(25831, allow_override=True, inplace=True)

,altitud,pendiente,orientacion,is_fire,date,geometry
0,644.62350,53.724090,30.371418,False,NaT,POINT (750538.870 4298747.175)
1,3.00000,0.351406,350.168950,False,NaT,POINT (752713.870 4306437.175)
2,155.06900,29.476328,135.866000,False,NaT,POINT (754363.870 4299307.175)
3,376.10925,5.116585,15.310265,False,NaT,POINT (747333.870 4299187.175)
4,10.27825,1.370338,12.806389,False,NaT,POINT (753578.870 4304332.175)
...,...,...,...,...,...,...
102662,412.71725,47.693090,282.219500,False,NaT,POINT (752368.870 4300107.175)
102663,38.34275,3.802766,29.704033,False,NaT,POINT (750253.870 4307967.175)
102664,141.42924,23.073492,27.285748,False,NaT,POINT (756628.870 4303917.175)
102665,85.26525,13.172064,344.150270,False,NaT,POINT (755743.870 4299122.175)
102666,437.15350,122.548840,332.573550,False,NaT,POINT (749203.870 4298757.175)

In [68]:
# Generate random date times for non-fire points
start = datetime.datetime(year=1993, month=1, day=1)
end = datetime.datetime(year=2019, month=12, day=31)

r_dates =  points_df["date"] .isnull()
dates_list = [start + datetime.timedelta(seconds=random.randint(0, int((end - start).total_seconds()))) for x in r_dates if x is True]
points_df.loc[r_dates, "date"] = dates_list

In [69]:
points_df

,altitud,pendiente,orientacion,is_fire,date,geometry
0,644.62350,53.724090,30.371418,False,2004-05-03 08:28:09,POINT (750538.870 4298747.175)
1,3.00000,0.351406,350.168950,False,1996-05-17 18:16:51,POINT (752713.870 4306437.175)
2,155.06900,29.476328,135.866000,False,1996-10-11 10:30:42,POINT (754363.870 4299307.175)
3,376.10925,5.116585,15.310265,False,2002-11-23 16:26:18,POINT (747333.870 4299187.175)
4,10.27825,1.370338,12.806389,False,2007-12-09 13:29:37,POINT (753578.870 4304332.175)
...,...,...,...,...,...,...
102662,412.71725,47.693090,282.219500,False,2012-05-03 13:55:07,POINT (752368.870 4300107.175)
102663,38.34275,3.802766,29.704033,False,2012-08-22 08:03:17,POINT (750253.870 4307967.175)
102664,141.42924,23.073492,27.285748,False,2009-08-04 15:59:19,POINT (756628.870 4303917.175)
102665,85.26525,13.172064,344.150270,False,2005-06-28 07:48:37,POINT (755743.870 4299122.175)
102666,437.15350,122.548840,332.573550,False,2010-08-29 07:10:21,POINT (749203.870 4298757.175)

In [74]:
points_df_head_100 = points_df.head(1000)

In [75]:
points_df_head_100

,altitud,pendiente,orientacion,is_fire,date,geometry,t_max,u,v,specific_humidity,relative_humidity
0,644.62350,53.724090,30.371418,False,2004-05-03 08:28:09,POINT (5.88504 38.80189),295.681641,4.555232,6.049922,0.007946,65.691483
1,3.00000,0.351406,350.168950,False,1996-05-17 18:16:51,POINT (5.91288 38.87048),290.966553,0.300633,2.195405,0.010563,85.001617
2,155.06900,29.476328,135.866000,False,1996-10-11 10:30:42,POINT (5.92924 38.80584),290.274658,3.982947,-4.266265,0.008307,68.388260
3,376.10925,5.116585,15.310265,False,2002-11-23 16:26:18,POINT (5.84833 38.80676),NaN,NaN,NaN,NaN,NaN
4,10.27825,1.370338,12.806389,False,2007-12-09 13:29:37,POINT (5.92206 38.85129),NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,417.47424,42.206154,113.979990,True,2015-05-14 00:00:00,POINT (5.89281 38.81472),NaN,NaN,NaN,NaN,NaN
996,432.73200,8.514082,328.044040,True,2015-05-14 00:00:00,POINT (5.84474 38.83203),NaN,NaN,NaN,NaN,NaN
997,87.75750,1.667135,298.551880,False,2002-05-24 09:16:40,POINT (5.94498 38.81058),NaN,NaN,NaN,NaN,NaN
998,0.91825,1.107692,206.579530,False,2007-12-07 08:56:13,POINT (5.95252 38.86484),NaN,NaN,NaN,NaN,NaN
999,172.14676,58.148064,174.633790,False,2010-03-31 23:07:25,POINT (5.85091 38.84976),NaN,NaN,NaN,NaN,NaN

In [79]:
points_df_head_100 = points_df.head(1000)
len(points_df_head_100[points_df_head_100['is_fire'] == False])

800

In [ ]:
# Get meteo data
dataset = 'reanalysis-era5-pressure-levels'
download_flag = False

points_df.to_crs(4326, inplace=True)

for r in points_df_head_100.iterrows():
    print(r[0])
    
    params = {
         'format': 'netcdf',
         'product_type': 'reanalysis',
         'variable': ['temperature', 'u_component_of_wind', 'v_component_of_wind', 'specific_humidity', 'relative_humidity'],
         'pressure_level':'1000',
         'year':str(r[1]["date"].year),
         'month':str(r[1]["date"].month),
         'day': str(r[1]["date"].day),
         'time': [str(x) for x in range(0,24)],
         'grid': [0.25, 0.25],
         'area': [r[1]["geometry"].y, r[1]["geometry"].x, r[1]["geometry"].y, r[1]["geometry"].x],
         }
     
    # Download and load into memory    
    fl = c.retrieve(dataset, params)
    if download_flag:
         fl.download("./output.nc")
         
    with urlopen(fl.location) as f:
         ds = xr.open_dataset(f.read())         
    df = ds.to_dataframe()
    # Write values of interestintopoints datafrafe
    points_df.loc[r[0], ["t_max", "u", "v", 'specific_humidity', 'relative_humidity']] = df['t'].max(), df['u'].mean(), df['v'].mean(), df['q'].min(), df['r'].min()

In [85]:
points_df.head(1000).to_csv("data/points_data.csv", index=False)